* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
} 

.clear::after {
	float: none;
	clear: both;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 500px) {
	/* Please do the mobile design first! */
	body {
		
	}
}
#navbar-github {
	margin-left: auto;
}