* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
} 

:root{
	--nav-height: 4rem;
	--nav-color-opaque: #0f4e96;
	--nav-color-transparent: #0f4e969c;
	--background-color: #040025;
	--text-light: #0091ff;
	--text-dark: #000959;
	--card-header: #1a3267be;
	--nav-color: #174480;
	--card-body: #aac5dbce; 
	--card-footer: #cae2ffd7; 
	--card-header-text: #0091ff;
	--card-footer-text: #005a9e;
}

.clear::after {
	float: none;
	clear: both;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	min-width: 350px;
	padding-top: 4rem;

	/* Space theme */
	background-color: var(--background-color);
	background-image: url("/images/stars.gif");
}

/* Makes starts on the body duller https://css-tricks.com/snippets/css/transparent-background-images/ */
body::before {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;

	background-color: var(--background-color);
	opacity: .5;
}


/* Navbar */
#nav{
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	/* Space Theme */
	background-color: var(--card-header);
}

#nav-title-container{
	white-space: nowrap;
	padding: .3rem;

	display: inline-flex;
	align-items: center;
	justify-content: space-between;

}

#nav-title {
	margin: 0;
	font-size: 1.15rem;
	font-family: 'Press Start 2P', cursive;
	color: black;
	text-decoration: none;


	display: inline-flex;
    justify-content: center;
    align-items: flex-end;
	height: 1.6rem;
	vertical-align: text-bottom;
	text-shadow: .1rem .1rem 0 #8da1da;
}

#nav-title-container img {
	margin-right: .6rem;
	height: 1.6rem;
	line-height: 0; /* Fixes sizing issue */
	width: auto;
}

#navbar-github {
	margin-left: auto;
	line-height: 0; /* Fixes sizing issue */
	padding: .3rem;
}

#github{
	height: 1.6rem;
}
/* End navbar */



/* Open card */

#open-card-description {
	margin: 1% 4%;
	text-align: justify;
}

#open-card-duedate-assignedto {
	margin-bottom: 0;
	font-size: 1em;
	margin-top: 0.40em;
}

#open-card-title {
	font-size: 1.25em;
}

#open-card .modal-body{
	max-height: 25em;
	overflow-y: auto;
}

#opencard-footer {
	justify-content: space-between;
}

#card-control-container {
	display: inline-block;
	width: 30%;
}

#opencard-save-close-container {
	height: 6.5em;
	width: 60%; /* Change this to increase or decrease the margin between the close and open button */
	display: inline-flex;
	align-items: flex-end;
	justify-content: flex-end;
}

#opencard-save-close-container button {
	height: fit-content;
	margin-left: .5em;
}

#btn-opencard-mark, #btn-opencard-save {
	width: 8em;
	min-width: 8em;
	white-space: nowrap;
	overflow-x: hidden;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

#card-control-container button {
	display: block;
	margin-bottom: .5em;
	line-height: 0;
	padding: 0.5rem;
}

#card-control-container button span {
	font-size: 1.5rem;
}
/* End open card */


/* New Task Modal */
#btn-add-new-task {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	padding: .7rem;
	line-height: 0;
}

#btn-add-new-task span {
	font-size: 1.6rem;
}

#new-task label{
	margin-bottom: auto;
}

#new-task label
{
	margin-top: .25em;
}

#btn-new-task-reset {
	margin-right: auto;
}
/* End new task modal */



/* Content layout */
#content-scoll {
	/* Makes scroll bar the same height as the content, instread of being next to the nav as well */
	height: calc(100vh - var(--nav-height));
	overflow-y: auto;
	overflow-x: clip;

	/* Space Theme */
	/* background-image: url("/images/space.gif"); */
}

/* Nice gradient https://css-tricks.com/snippets/css/transparent-background-images/ */
#content-scoll::after {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9e4f7+0,0c66b5+100&0+56,0.08+74,0.43+92,0.6+100 */
	background: -moz-linear-gradient(top,  rgba(169,228,247,0) 0%, rgba(81,157,210,0) 56%, rgba(53,135,198,0.08) 74%, rgba(25,112,186,0.43) 92%, rgba(12,102,181,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(169,228,247,0) 0%,rgba(81,157,210,0) 56%,rgba(53,135,198,0.08) 74%,rgba(25,112,186,0.43) 92%,rgba(12,102,181,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(169,228,247,0) 0%,rgba(81,157,210,0) 56%,rgba(53,135,198,0.08) 74%,rgba(25,112,186,0.43) 92%,rgba(12,102,181,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9e4f7', endColorstr='#990c66b5',GradientType=0 ); /* IE6-9 */



}

/* brighter Stars */
#content-scoll::before {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;

	background-image: url("/images/space.gif");
}



#content-container {
	padding: 3% 5%;
	padding-bottom: 4em; /* Prevents the button and clock from blocking the last card in mobile */
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	z-index: 1;
}

#content-container li {
	border-radius: 0;
	padding: 10px;
	flex: 1 0 500px;
	box-sizing: border-box;
	margin: 1rem .25em;
	border: none;
	max-width: 100%;
	background-color: inherit;
}

/* Calculates card width for different screen sizes */
@media screen and (min-width: 50em) {
    #content-container li {
       max-width: calc(50% -  1em);
    }


}
 
@media screen and (min-width: 70em) {
    #content-container li {
        max-width: calc(33.33% - 1em);
    }

}

@media screen and (min-width: 95em) {
    #content-container li {
        max-width: calc(25% - 1em);
    }
}

/* End content layout */



/* Card design */
.card{
	height: 100%;
	background-color: inherit;
}

.card .card-header{
	background-color: var(--card-header);
	color: white;
	font-family: 'Space Grotesk', sans-serif;
}

.card .card-footer{
	background-color: var(--card-footer);
	color: black;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: bold;
}

#content-container .card-header p,
#content-container .card-footer p
{
	float: right;
	font-size: 1em;
	margin: auto;
	/* font-family: 'Anek Telugu', sans-serif; */
}

/* Space Theme */
#content-container .card-header p{
	color: var(--card-header-text);
}
#content-container .card-footer p{
	color: var(--card-footer-text);
}


#content-container .card-footer h5,
#content-container .card-header h3
{
	float: left;
	font-size: 1em;
	margin: auto;
	margin-top: .17em; /* Fix poor height alignment */
	/* font-family: 'Space Grotesk', sans-serif; */
	font-weight: bold; /* Overrides bootstrap */
}

.card-body {
	height: 13em;
	overflow-y: auto;
	background-color: var(--card-body);
}

#content-container .card-body p{
	text-align: justify;
	font-size: .9em;
	max-height: 100%;

}
/* End Card Design */

/* Sprint 2 */
#current-date-container {
	position: fixed;
	bottom: -0.2em;
	left: -0.2em;
	margin: 0;

	border-radius: 5px;
	padding: .2em .5em;
	background-color: #F7F7F7;
	border: 1px solid #D2D2D2;
}

#current-date-container p{
	margin: 0;
}

form span {
	transition: height 250ms ease-in-out, top 250ms ease-in-out;
	top: 0;
	overflow: hidden;
	display: inline-block;
	height: 1.4em;
	color: #e00909;
	font-weight: bold;
	font-size: .75em;
	position: relative;

}

.none {
	height: 0;
	top: -1.25em;
}

/* Mobile view */
@media only screen and (max-width: 800px) {
	/* Please do the mobile design first! */

	/* New task button size */
	#btn-add-new-task {
		bottom: .5rem;
		right: .5rem;
		padding: .8rem;
	}

	#btn-add-new-task span {
		font-size: 1.7rem;
	}

	/* New task textarea height */
	#new-task textarea{
		height: 13em;
	}

	.card-body {
		overflow-y: hidden;
	}
}

/* Don't put code below here, non mobile code must come before the @media query */