* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
} 

:root{
	--nav-height: 4rem;
}

.clear::after {
	float: none;
	clear: both;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	min-width: 270px;
	padding-top: 4rem;
}


/* Navbar */
#nav{
	padding-left: 1em;
	padding-right: 1em;
	background-color: #91c6f8;
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#navbar-credit {
	margin-left: 1em;
}

#navbar-github {
	margin-left: auto;
	line-height: 0; /* Fixes sizing issue */
	padding: .3em;
}

#github{
	height: 1.6em;
}
/* End navbar */



/* Open card */
#open-card-description {
	margin: 1% 4%;
	text-align: justify;
}

#open-card-duedate-assignedto {
	margin-bottom: 0;
	font-size: 1em;
	margin-top: 0.40em;
}

#open-card-title {
	font-size: 1.25em;
}

#open-card .modal-body{
	max-height: 25em;
	overflow-y: auto;
}

#opencard-footer {
	justify-content: space-between;
}

#card-control-container {
	display: inline-block;
}

#opencard-save-close-container {
	height: 6.5em;
	width: 8.75em; /* Change this to increase or decrease the margin between the close and open button */
	display: inline-block;
	position: relative;
}

#opencard-save-close-container button {
	position: absolute;
	bottom: 0;
}

#btn-opencard-submit {
	right: 0;
}

#card-control-container button {
	display: block;
	margin-bottom: .5em;
}
/* End open card */


/* New Task Modal */
#btn-add-new-task {
	position: fixed;
	bottom: 1.25em;
	right: 1.25em;
	padding: 0;
}

#btn-add-new-task span {
	margin: 0.5em;
	font-size: 1.5em;
}

#new-task label{
	margin-bottom: auto;
}

#new-task label
{
	margin-top: .25em;
}

#btn-new-task-reset {
	margin-right: auto;
}
/* End new task modal */



/* Content layout */
#content-container {
	/* Makes scroll bar the same height as the content, instread of being next to the nav as well */
	height: calc(100vh - var(--nav-height));
	overflow-y: auto;
	overflow-x: clip;

	padding: 3% 5%;
	padding-bottom: 4em; /* Prevents the button and clock from blocking the last card in mobile */
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;

	/* Space Theme */
	
}

#content-container li {
	border-radius: 0;
	padding: 10px;
	flex: 1 0 500px;
	box-sizing: border-box;
	margin: 1rem .25em;
	border: none;
	max-width: 100%;
}

/* Calculates card width for different screen sizes */
@media screen and (min-width: 50em) {
    #content-container li {
       max-width: calc(50% -  1em);
    }


}
 
@media screen and (min-width: 70em) {
    #content-container li {
        max-width: calc(33.33% - 1em);
    }

}

@media screen and (min-width: 95em) {
    #content-container li {
        max-width: calc(25% - 1em);
    }
}

/* End content layout */



/* Card design */
.card{
	height: 100%;
}

#content-container .card-header p,
#content-container .card-footer p
{
	float: right;
	font-size: 1em;
	margin: auto;
}

#content-container .card-footer h5,
#content-container .card-header h3
{
	float: left;
	font-size: 1em;
	margin: auto;
	margin-top: .17em; /* Fix poor height alignment */
}

.card-body {
	height: 13em;
	overflow-y: auto;
}

#content-container .card-body p{
	text-align: justify;
	font-size: .9em;
	max-height: 100%;

}
/* End Card Design */

/* Sprint 2 */
#current-date-container {
	position: fixed;
	bottom: -0.2em;
	left: -0.2em;
	margin: 0;

	border-radius: 5px;
	padding: .2em .5em;
	background-color: #F7F7F7;
	border: 1px solid #D2D2D2;
}

#current-date-container p{
	margin: 0;
}

form span {
	transition: height 250ms ease-in-out, top 250ms ease-in-out;
	top: 0;
	overflow: hidden;
	display: inline-block;
	height: 1.4em;
	color: #e00909;
	font-weight: bold;
	font-size: .75em;
	position: relative;

}

.none {
	height: 0;
	top: -1.25em;
}

/* Mobile view */
@media only screen and (max-width: 800px) {
	/* Please do the mobile design first! */

	/* New task button size */
	#btn-add-new-task {
		bottom: .75em;
		right: .75em;
	}

	#btn-add-new-task span {
		margin: 0.3em;
		font-size: 2em;
	}

	/* New task textarea height */
	#new-task textarea{
		height: 13em;
	}

	.card-body {
		overflow-y: hidden;
	}
}

/* Don't put code below here, non mobile code must come before the @media query */