* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

.clear::after {
	float: none;
	clear: both;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#open-card-description {
	margin: 1% 4%;
	text-align: justify;
}

#opencard-footer {


}

#open-card-duedate-assignedto {
	margin-bottom: 0;
	font-size: 1em;
	margin-top: 0.40em;
}

#open-card-title {
	font-size: 1.25em;
}

#opencard-save-close-container {
	background-color: purple;
	height: 100%;
	display: inline-block;
}

#card-control-container button {
	display: block;
}

@media only screen and (max-width: 500px) {
	/* Please do the mobile design first! */
	body {
		
	}
}